.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.memberCard{
  border: 2px solid black;
  width: 100%;
  max-width: 250px;
  text-align: left;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}